#!/bin/sh
{{ if .Account}}#SBATCH --account={{.Account}}{{end}}
{{ if .JobName}}#SBTACH --job-name={{.JobName}}{{end}}
{{ if .Chdir}}#SBATCH --chdir={{.Chdir}}{{end}}
{{ if .Comment}}#SBATCH --comment={{.Comment}}{{end}}
{{ if .CpusPerTask}}#SBATCH --cpus-per-task={{.CpusPerTask}}{{end}}

srun '{{.Command | escapeBash}}'{{range $arg := .Args}} '{{$arg | escapeBash}}'{{end}}
