#!/bin/sh
{{- with .Account }}{{ "\n" }}#SBATCH --account={{ . }}{{ end }}
{{- with .JobName }}{{ "\n" }}#SBTACH --job-name={{ . }}{{ end }}
{{- with .Chdir }}{{ "\n" }}#SBATCH --chdir={{ . }}{{ end }}
{{- with .Comment }}{{ "\n" }}#SBATCH --comment={{ . }}{{ end }}
{{- with .CpusPerTask }}{{ "\n" }}#SBATCH --cpus-per-task={{ . }}{{ end }}

srun '{{.Command | escapeBash}}'{{range $arg := .Args}} '{{$arg | escapeBash}}'{{end}}
