#!/bin/sh
{{ with .Account }}#SBATCH --account={{ . }}{{ end }}
{{ with .JobName }}#SBTACH --job-name={{ . }}{{ end }}
{{ with .Chdir }}#SBATCH --chdir={{ . }}{{ end }}
{{ with .Comment }}#SBATCH --comment={{ . }}{{ end }}
{{ with .CpusPerTask }}#SBATCH --cpus-per-task={{ . }}{{ end }}

srun '{{.Command | escapeBash}}'{{range $arg := .Args}} '{{$arg | escapeBash}}'{{end}}
