#!/bin/sh
#SBATCH --account={{.Account}}
#SBTACH --job-name={{.JobName}}
#SBATCH --chdir={{.Chdir}}
#SBATCH --comment={{.Comment}}
#SBATCH --cpus-per-task={{.CpusPerTask}}
srun {{.Command}} {{range $arg := .Args}}{{$arg}} {{end}}
