#!/bin/sh
#SBATCH --account={{.Account}}
#SBTACH --job-name={{.JobName}}
#SBATCH --chdir={{.Chdir}}
#SBATCH --comment={{.Comment}}
#SBATCH --cpus-per-task={{.CpusPerTask}}
'{{.Command | escapeBash}}' {{range $arg := .Args}}'{{$arg | escapeBash}}' {{end}}
